[submodule ".registry"]
	path = .registry
	url = https://github.com/mikemahoney218/universe
	shallow = true
	branch = HEAD
[submodule "waywiser"]
	path = waywiser
	url = https://github.com/mikemahoney218/waywiser
	shallow = true
	registered = true
[submodule "proceduralnames"]
	path = proceduralnames
	url = https://github.com/mikemahoney218/proceduralnames
	shallow = true
	registered = true
[submodule "heddlr"]
	path = heddlr
	url = https://github.com/mikemahoney218/heddlr
	shallow = true
	registered = true
[submodule "mvdf"]
	path = mvdf
	url = https://github.com/mikemahoney218/mvdf
	shallow = true
	registered = true
[submodule "hardhat"]
	path = hardhat
	url = https://github.com/tidymodels/hardhat
	shallow = true
	registered = false
[submodule "yardstick"]
	path = yardstick
	url = https://github.com/tidymodels/yardstick
	shallow = true
	registered = false
