[submodule ".registry"]
	path = .registry
	url = https://github.com/mikemahoney218/universe
	shallow = true
	branch = HEAD
[submodule "terrainr"]
	path = terrainr
	url = https://github.com/ropensci/terrainr
	shallow = true
	registered = true
[submodule "proceduralnames"]
	path = proceduralnames
	url = https://github.com/mikemahoney218/proceduralnames
	shallow = true
	registered = true
[submodule "heddlr"]
	path = heddlr
	url = https://github.com/mikemahoney218/heddlr
	shallow = true
	registered = true
[submodule "spacey"]
	path = spacey
	url = https://github.com/mikemahoney218/spacey
	shallow = true
	registered = true
[submodule "mvdf"]
	path = mvdf
	url = https://github.com/mikemahoney218/mvdf
	shallow = true
	registered = true
[submodule "plantr"]
	path = plantr
	url = https://github.com/mikemahoney218/plantr
	shallow = true
	registered = true
