[submodule ".registry"]
	path = .registry
	url = https://github.com/mikemahoney218/mikemahoney218.r-universe.dev
	branch = HEAD
[submodule "heddlr"]
	path = heddlr
	url = https://github.com/mikemahoney218/heddlr
[submodule "mvdf"]
	path = mvdf
	url = https://github.com/mikemahoney218/mvdf
[submodule "proceduralnames"]
	path = proceduralnames
	url = https://github.com/mikemahoney218/proceduralnames
[submodule "rsi"]
	path = rsi
	url = https://github.com/Permian-Global-Research/rsi
